body,
html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

header {
	height: 100px;
	width: 100vw;
	background: #d8d8d8;
	padding: 10px 20px;
}

.boxy-box {
	background: #4a90e2;
	height: 80px;
	width: 80px;
}

.text {
	font-family: sans-serif;
	padding: 20px;
}

h2 {
	font-weight: lighter;
}